@charset "UTF-8";
/* скрывает визуально контент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__link, .buy__link, .footer__link {
  text-decoration: none;
  color: inherit;
}

.header__list, .design__list, .able__list, .silence__list, .guarantee__list, .review__list, .faq__list, .footer__list {
  list-style: none;
  padding: 0;
}

.design__subtitle, .silence__subtitle, .tech__subtitle, .guarantee__subtitle, .review__subtitle, .faq__subtitle, .hero__title, .design__title, .able__title, .silence__title, .tech__title, .guarantee__title, .history__title, .review__title, .faq__title, .buy__title, .feedback__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}

.design__subtitle, .silence__subtitle, .tech__subtitle, .guarantee__subtitle, .review__subtitle, .faq__subtitle {
  font-size: 28px;
  line-height: 1.25;
}

.hero__button, .buy__button, .feedback__button {
  display: block;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.design, .able, .silence, .tech, .guarantee, .history, .review, .faq, .buy, .background, .feedback, .footer {
  padding-top: 85px;
  padding-bottom: 85px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Semibold.woff2") format("woff2"), url("Gilroy-Semibold.woff") format("woff"), url("Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff2") format("woff2"), url("Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, roboto, Ubuntu, noto, arial, sans-serif;
  font-size: 20px;
  line-height: 1.45;
  background-color: #191919;
}

/* обнуление внешних отступов */
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 29px;
  padding-right: 80px;
  margin-bottom: 35px;
  padding-left: 80px;
  font-weight: 600;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  color: inherit;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.header__link:hover, .header__link:focus {
  color: #df3d3a;
}

.header__logo {
  width: 130px;
  height: 16px;
  color: #e7e7e7;
  fill: currentColor;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 77px;
}

.header__link {
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}

.hero {
  padding-bottom: 85px;
  padding-left: 80px;
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__text {
  max-width: 321px;
  font-size: 16px;
  line-height: 1.25;
}

.hero__text:first-child {
  margin-bottom: 36px;
}

.hero__main {
  margin-top: 110px;
  padding-left: 104px;
}

.hero__title {
  margin-bottom: 60px;
  max-width: 468px;
  font-size: 74px;
  line-height: 1;
}

.hero__button {
  min-width: 290px;
  min-height: 68px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #df3d3a;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.hero__button:hover, .hero__button:focus {
  background-color: #b5302d;
}

.design {
  padding-right: 144px;
}

.container--design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design__image {
  margin-right: 150px;
}

.design__title {
  margin-bottom: 50px;
}

.design__item:not(:last-child) {
  margin-bottom: 40px;
}

.design__subtitle {
  margin-bottom: 20px;
}

.able {
  padding-left: 190px;
}

.able__title {
  margin-bottom: 50px;
  padding-left: 24px;
}

.able__content {
  max-width: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.able__item:not(:last-child) {
  margin-bottom: 20px;
}

.able__item::before {
  content: '';
  display: inline-block;
  margin-right: 24px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #df3d3a;
}

.silence__title {
  padding-right: 169px;
  text-align: right;
  margin-bottom: 50px;
}

.silence__image {
  margin-bottom: 50px;
}

.silence__list {
  padding-left: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.silence__item:not(:last-child) {
  margin-right: 40px;
}

.silence__subtitle {
  margin-bottom: 20px;
}

.tech {
  padding-left: 190px;
}

.tech__content {
  margin-right: 170px;
}

.tech__title {
  margin-bottom: 50px;
}

.tech__subtitle {
  margin-bottom: 20px;
}

.guarantee__image {
  margin-right: 150px;
}

.guarantee__content {
  padding-top: 25px;
}

.guarantee__title {
  margin-bottom: 50px;
}

.guarantee__list {
  max-width: 400px;
}

.guarantee__item:not(:last-child) {
  margin-bottom: 40px;
}

.guarantee__item::before {
  content: '';
  display: block;
  margin-bottom: 24px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #df3d3a;
}

.guarantee__subtitle {
  margin-bottom: 16px;
}

.guarantee__icon {
  display: block;
  padding-top: 446px;
}

.history {
  padding-left: 190px;
}

.history__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history__thumb:not(:last-child) {
  margin-bottom: 40px;
}

.history__content {
  margin-right: 150px;
}

.history__title {
  margin-bottom: 50px;
  max-width: 313px;
}

.history__text:first-child {
  margin-bottom: 16px;
}

.history__image--quote {
  padding-top: 110px;
  margin-right: 260px;
}

.history__pre-quote {
  margin-bottom: 90px;
}

.history__icon {
  margin-bottom: 50px;
  width: 34px;
  height: 25px;
  color: #df3d3a;
  fill: currentColor;
}

.history__quote {
  margin-bottom: 32px;
  max-width: 382px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: #e7e7e7;
}

.history__quoted {
  font-size: 16px;
  line-height: 0.7;
  color: rgba(255, 255, 255, 0.4);
}

.review__video {
  margin-right: 150px;
  min-width: 920px;
  max-height: 590px;
}

.review__title {
  margin-bottom: 50px;
}

.review__subtitle {
  margin-bottom: 16px;
  color: #df3d3a;
}

.review__text {
  margin-bottom: 70px;
}

.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, roboto, Ubuntu, noto, arial, sans-serif;
  font-size: 28px;
  line-height: 1.25;
  color: #df3d3a;
}

.review__item {
  margin-right: 12px;
  opacity: 0.2;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.review__item:not(:last-child)::after {
  content: '-';
  margin-left: 12px;
}

.review__item.active {
  opacity: 1;
}

.container--faq {
  max-width: 1060px;
}

.faq__title {
  margin-bottom: 26px;
}

.faq__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.faq__item:not(:last-child) {
  margin-bottom: 60px;
}

.faq__subtitle {
  position: relative;
  text-transform: none;
}

.faq__subtitle::after {
  content: '?';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 28px;
  line-height: 0.7;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.faq__number {
  margin-right: 32px;
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, roboto, Ubuntu, noto, arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.25;
}

.faq__text {
  margin-top: 16px;
  padding-left: 69px;
  max-width: 897px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.faq__text.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.buy {
  padding-left: 190px;
}

.buy__content {
  margin-right: 150px;
}

.buy__title {
  margin-bottom: 50px;
}

.buy__label {
  margin-bottom: 50px;
  display: block;
}

.buy__radio {
  position: relative;
  width: 70px;
  height: 70px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #dbdbdb;
  border-radius: 50%;
  cursor: pointer;
}

.buy__radio:first-child {
  margin-right: 20px;
}

.buy__radio:checked {
  background-color: #101010;
  border: 2px solid #df3d3a;
}

.buy__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.buy__link:first-child {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.buy__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.buy__label--price {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #df3d3a;
}

.buy__button {
  min-width: 400px;
  min-height: 68px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #df3d3a;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.buy__button:hover, .buy__button:focus {
  background-color: #b5302d;
}

.feedback__content {
  margin-right: 150px;
}

.feedback__title {
  margin-bottom: 50px;
}

.feedback__form {
  min-width: 510px;
}

.feedback__label {
  display: block;
  margin-bottom: 42px;
  line-height: 0.7;
}

.feedback__input {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.feedback__label--textarea {
  margin-bottom: 53px;
}

.feedback__input--textarea {
  min-height: 120px;
  resize: none;
}

.feedback__label--accept {
  margin-bottom: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__accept {
  position: relative;
  margin-right: 29px;
  width: 30px;
  height: 28px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e9edfa;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.feedback__accept::before, .feedback__accept::after {
  content: '';
  position: absolute;
  left: -2px;
  top: 50%;
  width: 30px;
  height: 1px;
  background-color: transparent;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: background-color 250ms linear, transform 250ms linear;
  transition: background-color 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
}

.feedback__accept:checked {
  background-color: #df3d3a;
}

.feedback__accept:checked::before {
  background-color: #e9edfa;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback__accept:checked::after {
  background-color: #e9edfa;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback__link {
  margin-left: 5px;
  color: inherit;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.feedback__link:hover, .feedback__link:focus {
  color: #df3d3a;
}

.feedback__button {
  min-width: 510px;
  min-height: 68px;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  border: 1px solid #df3d3a;
  -webkit-transition: border-color 250ms linear, color 250ms linear;
  transition: border-color 250ms linear, color 250ms linear;
}

.feedback__button:hover, .feedback__button:focus {
  color: #b5302d;
  border-color: rgba(255, 255, 255, 0.8);
}

.footer {
  padding-left: 190px;
  padding-right: 80px;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.footer__link:hover, .footer__link:focus {
  color: #df3d3a;
}

.footer__link--tel {
  color: rgba(255, 255, 255, 0.8);
}

.footer__item:not(:last-child) {
  margin-right: 50px;
}
/*# sourceMappingURL=index.css.map */