.buy {
  @extend %section;
  &::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 52px;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/buy/bg-s.jpg);
    background-image: -webkit-image-set(url('../images/buy/bg-s.webp') 1x);
    @include mq(retina) {
      background-image: url('../images/buy/bg@2x-s.jpg');
      background-image: -webkit-image-set(url('../images/buy/bg@2x-s.webp') 2x);
    }
    background-size: 280px 235px;
    @include mq(tablet-only) {
      margin-top: 100px;
      height: 360px;
      background-image: url(../images/buy/bg-m.jpg);
      background-image: -webkit-image-set(url('../images/buy/bg-m.webp') 1x);
      @include mq(retina) {
        background-image: url('../images/buy/bg@2x-m.jpg');
        background-image: -webkit-image-set(
          url('../images/buy/bg@2x-m.webp') 2x
        );
      }
      background-size: 648px 360px;
    }
    @include mq(desktop) {
      margin-top: 170px;
      height: 524px;
      background-image: url(../images/buy/bg-l.jpg);
      background-image: -webkit-image-set(url('../images/buy/bg-l.webp') 1x);
      @include mq(retina) {
        background-image: url('../images/buy/bg@2x-l.jpg');
        background-image: -webkit-image-set(
          url('../images/buy/bg@2x-l.webp') 2x
        );
      }
      background-size: 1440px 524px;
    }
  }
}
.buy__container {
  @include mq(desktop) {
    padding-left: 130px;
  }
}
.buy__title {
  @extend %title;
  margin-bottom: 329px;
  @include mq(tablet-only) {
    margin-bottom: 510px;
  }
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}
.buy__label {
  display: block;
  margin-bottom: 32px;
  @include mq(tablet-only) {
    margin-bottom: unset;
  }
  @include mq(desktop) {
    margin-bottom: 50px;
    max-width: 400px;
  }
}
.buy__label--color {
  // display: flex;
  @include mq(tablet-only) {
    margin-bottom: 40px;
  }
}
.buy__color {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  @include mq(desktop) {
    width: 70px;
    height: 70px;
  }
  // &:first-child {
  //   margin-right: 24px;
  //   @include mq(desktop) {
  //     margin-right: 20px;
  //   }
  // }
  outline: none;
  appearance: none;
  background-color: #101010;
  border: 2px solid #df3d3a;
  border-radius: 50%;
  transition: background-color 250ms linear;
  cursor: pointer;
  //второй кружок цвета, смена цвета по клику
  &::before {
    content: '';
    position: absolute;
    display: block;
    right: -68px;
    width: 44px;
    height: 44px;
    @include mq(desktop) {
      width: 70px;
      height: 70px;
      left: 90px;
    }
    background-color: #dbdbdb;
    border: 2px solid #df3d3a;
    border-radius: 50%;
    transition: background-color 250ms linear;
  }
  &:checked {
    background-color: #dbdbdb;
    &::before {
      background-color: #101010;
    }
  }
  // картинка наушников, смена картинки по клику
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -32px;
    width: 280px;
    height: 265px;
    transform: translateY(-100%);
    background-image: url('../images/buy/black-s.jpg');
    background-image: -webkit-image-set(url('../images/buy/black-s.webp') 1x);
    @include mq(retina) {
      background-image: url('../images/buy/black@2x-s.jpg');
      background-image: -webkit-image-set(
        url('../images/buy/black@2x-s.webp') 2x
      );
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 250ms linear;
    @include mq(tablet-only) {
      width: 648px;
      height: 446px;
      background-image: url('../images/buy/black-m.jpg');
      background-image: -webkit-image-set(url('../images/buy/black-m.webp') 1x);
      @include mq(retina) {
        background-image: url('../images/buy/black@2x-m.jpg');
        background-image: -webkit-image-set(
          url('../images/buy/black@2x-m.webp') 2x
        );
      }
    }
    @include mq(desktop) {
      top: -110px;
      left: 540px;
      width: 700px;
      height: 664px;
      transform: translateY(0);
      background-image: url('../images/buy/black-l.jpg');
      background-image: -webkit-image-set(url('../images/buy/black-l.webp') 1x);
      @include mq(retina) {
        background-image: url('../images/buy/black@2x-l.jpg');
        background-image: -webkit-image-set(
          url('../images/buy/black@2x-l.webp') 2x
        );
      }
    }
  }
  &:checked::after {
    background-image: url('../images/buy/white-s.jpg');
    background-image: -webkit-image-set(url('../images/buy/white-s.webp') 1x);
    @include mq(retina) {
      background-image: url('../images/buy/white@2x-s.jpg');
      background-image: -webkit-image-set(
        url('../images/buy/white@2x-s.webp') 2x
      );
    }
    @include mq(tablet-only) {
      background-image: url('../images/buy/white-m.jpg');
      background-image: -webkit-image-set(url('../images/buy/white-m.webp') 1x);
      @include mq(retina) {
        background-image: url('../images/buy/white@2x-m.jpg');
        background-image: -webkit-image-set(
          url('../images/buy/white@2x-m.webp') 2x
        );
      }
    }
    @include mq(desktop) {
      background-image: url('../images/buy/white-l.jpg');
      background-image: -webkit-image-set(url('../images/buy/white-l.webp') 1x);
      @include mq(retina) {
        background-image: url('../images/buy/white@2x-l.jpg');
        background-image: -webkit-image-set(
          url('../images/buy/white@2x-l.webp') 2x
        );
      }
    }
  }
}
.buy__link {
  @extend %link;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @include mq(not-desktop) {
    font-size: 16px;
  }
  &:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.buy__icon {
  display: block;
  width: 20px;
  height: 20px;
}
.buy__label--price {
  margin-bottom: 24px;
  @include mq(tablet-only) {
    margin-top: 52px;
  }
  @include mq(tablet) {
    margin-bottom: 32px;
  }
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $accent-color;
  @include mq(desktop) {
    font-size: 54px;
  }
}
.buy__button {
  @extend %button;
  min-width: 280px;
  min-height: 58px;
  color: $button-text-color;
  background-color: $accent-color;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    $hover-color 50%
  );
  background-size: 200% 100%;
  transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 100ms,
    color 500ms ease 0ms, background-color 500ms ease;
  &:hover,
  &:focus {
    background-position: -100% 100%;
  }
  @include mq(tablet-only) {
    min-width: 294px;
  }
  @include mq(desktop) {
    min-width: 400px;
    min-height: 68px;
  }
}
