.design {
  @extend %section;
  &::after {
    content: '';
    display: block;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 293px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/design/img-s.jpg);
    background-image: -webkit-image-set(url('../images/design/img-s.webp') 1x);
    @include mq(retina) {
      background-image: url('../images/design/img@2x-s.jpg');
      background-image: -webkit-image-set(
        url('../images/design/img@2x-s.webp') 2x
      );
    }
    background-size: 280px 293px;
  }
  @include mq(tablet) {
    &::after {
      display: none;
    }
    min-height: 668px;
    background-image: url(../images/design/img-m.jpg);
    background-image: -webkit-image-set(url('../images/design/img-m.webp') 1x);
    @include mq(retina) {
      background-image: url('../images/design/img@2x-m.jpg');
      background-image: -webkit-image-set(
        url('../images/design/img@2x-m.webp') 2x
      );
    }
    background-position: top 50px right calc(50% + 177px + 20px);
    background-repeat: no-repeat;
    background-size: 354px 568px;
  }
  @include mq(desktop) {
    min-height: 786px;
    background-image: url(../images/design/img-l.jpg);
    background-image: -webkit-image-set(url('../images/design/img-l.webp') 1x);
    @include mq(retina) {
      background-image: url('../images/design/img@2x-l.jpg');
      background-image: -webkit-image-set(
        url('../images/design/img@2x-l.webp') 2x
      );
    }
    background-position: top 85px right calc(50% + 295px + 95px);
    background-size: 590px 616px;
  }
}
.design__content {
  margin-left: auto;
  @include mq(tablet-only) {
    max-width: 294px;
  }
  @include mq(desktop) {
    max-width: 557px;
  }
}
.design__title {
  @extend %title;
  margin-bottom: 32px;
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}
.design__list {
  @extend %list;
  max-width: 510px;
}
.design__item {
  &:not(:last-child) {
    margin-bottom: 24px;
    @include mq(desktop) {
      margin-bottom: 40px;
    }
  }
}
.design__subtitle {
  @extend %subtitle;
  margin-bottom: 16px;
  @include mq(desktop) {
    margin-bottom: 20px;
  }
}
