.feedback {
  @extend %section;
}
.feedback__container {
  max-width: 1100px;
  display: flex;
}
.feedback__content {
  margin-right: 150px;
}
.feedback__title {
  @extend %title;
  margin-bottom: 50px;
}
.feedback__form {
  min-width: 510px;
}
.feedback__label {
  display: block;
  margin-bottom: 42px;
  line-height: 0.7;
}
.feedback__input {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  color: $main-text-color;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  transition: border-bottom-color 250ms linear;
  &:focus {
    outline: none;
    border-bottom-color: $accent-color;
  }
  &:invalid {
    color: $accent-color;
  }
}
.feedback__label--textarea {
  margin-bottom: 53px;
}
.feedback__input--textarea {
  min-height: 120px;
  resize: none;
}
.feedback__label--accept {
  position: relative;
  margin-bottom: 89px;
  display: flex;
  align-items: center;
}
.feedback__custom {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid currentColor;
  margin-right: 29px;
}
.feedback__icon {
  position: absolute;
  top: -5px;
  left: 4px;
  color: $accent-color;
  stroke: currentColor;
  fill: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  .feedback__accept:checked + .feedback__custom & {
    opacity: 1;
  }
}

.feedback__link {
  margin-left: 5px;
  color: inherit;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.feedback__button {
  @extend %button;
  min-width: 510px;
  min-height: 68px;
  position: relative;
  color: $button-text-color;
  background-color: transparent;
  border: 1px solid $accent-color;
  transition: color 0.25s;
  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
  }
  &:hover {
    color: $hover-color;
    border-color: transparent;
  }
  // And this the bottom & left borders (expands left, then up)
  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
  &:hover::before {
    border-top-color: $main-text-color;
    border-right-color: $main-text-color;
    transition: width 0.25s ease-out,
      // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }
  &:hover::after {
    border-bottom-color: $main-text-color; // Make borders visible
    border-left-color: $main-text-color;
    transition: // Animate height first, then width
      height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}
