.feedback {
  @extend %section;
  padding-left: 110px;
}
.feedback__container {
  margin-left: 0;
  max-width: 1060px;
  display: flex;
}
.feedback__content {
  margin-right: 150px;
}
.feedback__title {
  @extend %title;
  margin-bottom: 50px;
}
.feedback__form {
  min-width: 510px;
}
.feedback__label {
  display: block;
  margin-bottom: 42px;
  line-height: 0.7;
}
.feedback__input {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  color: $main-text-color;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  transition: border-bottom-color 250ms linear;
  &:focus {
    outline: none;
    border-bottom-color: $accent-color;
  }
  &:invalid {
    color: $accent-color;
  }
}
.feedback__label--textarea {
  margin-bottom: 53px;
}
.feedback__input--textarea {
  min-height: 120px;
  resize: none;
}
.feedback__label--accept {
  position: relative;
  margin-bottom: 89px;
  display: flex;
  align-items: center;
}
.feedback__accept {
  position: relative;
  margin-right: 29px;
  width: 30px;
  height: 28px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e9edfa;
}
.feedback__icon {
  position: absolute;
  top: -4px;
  left: 0;
  width: 31px;
  height: 32px;
  color: $accent-color;
  fill: currentColor;
  opacity: 0;
  transition: opacity 250ms linear;
}
.feedback__accept:checked + .feedback__icon {
  opacity: 1;
}
.feedback__link {
  margin-left: 5px;
  color: inherit;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.feedback__button {
  @extend %button;
  min-width: 510px;
  min-height: 68px;
  position: relative;
  color: $button-text-color;
  background-color: transparent;
  border: 1px solid $accent-color;
  // transition: border-color 250ms linear, color 250ms linear;
  // &:hover,
  // &:focus {
  //   color: $hover-color;
  //   border-color: $main-text-color;
  // }
  transition: color 0.25s;
  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
  }
  // And this the bottom & left borders (expands left, then up)
  &:hover {
    color: $hover-color;
    border-color: transparent;
  }
  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
  &:hover::before {
    border-top-color: $main-text-color;
    border-right-color: $main-text-color;
    transition: width 0.25s ease-out,
      // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }
  &:hover::after {
    border-bottom-color: $main-text-color; // Make borders visible
    border-left-color: $main-text-color;
    transition: // Animate height first, then width
      height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}
