.footer {
  @extend %section;
  line-height: 1.19;
  @include mq(desktop) {
    font-size: 16px;
  }
}
.container--footer {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }
  @include mq(desktop) {
    padding-left: 130px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  @include mq(tablet) {
    margin-bottom: unset;
  }
}
.footer__list {
  @extend %list;
  @include mq(tablet-only) {
    &:not(:last-child) {
      margin-right: 127px;
    }
  }
  @include mq(desktop) {
    display: flex;
  }
}
.footer__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-bottom: unset;
      margin-right: 50px;
    }
  }
}
.footer__link {
  @extend %link;
  color: $footer-text-color;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer__link--tel {
  font-size: 16px;
  color: $main-text-color;
  @include mq(tablet-only) {
    align-self: flex-end;
  }
}
