.guarantee {
  @extend %section;
  position: relative;
  &::after {
    content: '';
    display: block;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 268px;
    background-repeat: no-repeat;
    background-image: url(../images/guarantee/img-s.jpg);
    background-image: -webkit-image-set(
      url('../images/guarantee/img-s.webp') 1x
    );
    @include mq(retina) {
      background-image: url('../images/guarantee/img@2x-s.jpg');
      background-image: -webkit-image-set(
        url('../images/guarantee/img@2x-s.webp') 2x
      );
    }
    background-position: center;
    background-size: cover;
    background-size: 280px 268px;
  }
  @include mq(tablet) {
    &::after {
      display: none;
    }
    background-repeat: no-repeat;
    background-image: url(../images/guarantee/img-m.jpg);
    background-image: -webkit-image-set(
      url('../images/guarantee/img-m.webp') 1x
    );
    @include mq(retina) {
      background-image: url('../images/guarantee/img@2x-m.jpg');
      background-image: -webkit-image-set(
        url('../images/guarantee/img@2x-m.webp') 2x
      );
    }
    background-position: top 50px left calc(50% - 60px - 177px);
    background-size: 354px 442px;
  }
  @include mq(desktop) {
    min-height: 735px;
    background-image: url(../images/guarantee/img-l.jpg);
    background-image: -webkit-image-set(
      url('../images/guarantee/img-l.webp') 1x
    );
    @include mq(retina) {
      background-image: url('../images/guarantee/img@2x-l.jpg');
      background-image: -webkit-image-set(
        url('../images/guarantee/img@2x-l.webp') 2x
      );
    }
    background-position: top 85px left calc(50% - 130px - 295px);
    background-size: 590px 565px;
  }
}
.guarantee__content {
  @include mq(tablet-only) {
    margin-left: auto;
    max-width: 294px;
  }
  @include mq(desktop) {
    margin-left: 680px;
  }
}
.guarantee__title {
  @extend %title;
  margin-bottom: 32px;
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}
.guarantee__list {
  @extend %list;
  max-width: 400px;
}
.guarantee__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &::before {
    content: '';
    display: block;
    margin-bottom: 24px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $accent-color;
  }
}
.guarantee__subtitle {
  @extend %subtitle;
  margin-bottom: 16px;
}
.guarantee__icon {
  display: block;
  padding-top: 446px;
}

.guarantee__union {
  position: absolute;
  bottom: -132px;
  left: calc(50% + 35px);
  @include mq(tablet-only) {
    display: none;
  }
  @include mq(desktop) {
    width: 300px;
    height: 111px;
    bottom: 85px;
    left: calc(50% + 40px + 400px + 40px);
  }
}
