.guarantee {
  @extend %section;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-height: 735px;
  background-image: url(../images/design/design-img.jpg),
    url(../../images/guarantee/Union.jpg);
  background-position: top 85px left 0, bottom 115px right 0;
  background-repeat: no-repeat;
  background-size: 590px 565px, 300px 111px;
}
.guarantee__content {
  margin-left: 660px;
}
.guarantee__title {
  @extend %title;
  margin-bottom: 50px;
}
.guarantee__list {
  @extend %list;
  max-width: 400px;
}
.guarantee__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &::before {
    content: '';
    display: block;
    margin-bottom: 24px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $accent-color;
  }
}
.guarantee__subtitle {
  @extend %subtitle;
  margin-bottom: 16px;
}
.guarantee__icon {
  display: block;
  padding-top: 446px;
}
