.header {
  padding-top: 16px;
  @include mq(tablet-only) {
    padding-top: 22px;
  }
  @include mq(desktop) {
    padding-top: 30px;
  }
}
.header__container {
  @include mq(not-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  @extend %link;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.25;
  @include mq(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
  }
  color: inherit;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.header__logo {
  width: 100px;
  height: 12px;
  @include mq(not-desktop) {
    position: relative;
    z-index: 2;
  }
  @include mq(desktop) {
    width: 130px;
    height: 16px;
  }
  color: $title-text-color;
  fill: currentColor;
}
.header__list {
  @extend %list;
  padding: 24px 20px;
  @include mq(not-desktop) {
    display: none;
  }
  @include mq(desktop) {
    display: flex;
  }
}
.header__item {
  &:not(:last-child) {
    margin-right: 77px;
  }
}

.burger__button {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
  @include mq(desktop) {
    display: none;
  }
}
.burger__item {
  display: block;
  width: 22px;
  height: 2px;
  background-color: $main-text-color;
  transition: transform 250ms linear;
  &:not(:last-child) {
    margin-bottom: 3px;
  }
  .burger__button.is-open &--top {
    transform: translateY(5px) rotate(45deg);
    transition-delay: 125ms;
  }
  .burger__button.is-open &--center {
    transform: translateX(100%);
  }
  .burger__button.is-open &--bottom {
    transform: translateY(-5px) rotate(-225deg);
    transition-delay: 250ms;
  }
}
.mobile-menu {
  @include mq(not-desktop) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    padding: 100px 20px 24px 20px;
    transform: translateY(calc(-100% - 80px));
    background-color: $main-bg-color;
    box-shadow: 0px 20px 80px #000000;
    transition: transform 250ms linear;
    &.is-open {
      transform: translateY(0);
    }
    @include mq(mobile-only) {
      height: 100vh;
    }
    @include mq(tablet-only) {
      min-height: 367px;
    }
  }
  @include mq(desktop) {
    display: none;
  }
}
.mobile-menu__list {
  @extend %list;
}
.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.mobile-menu__link {
  @extend .header__link;
}
