.hero {
  @extend %section;
  padding-top: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-height: 768px;
  background-image: url(../images/hero/hero-img.png);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  background-size: 700px 598px;
}
.hero__text {
  max-width: 321px;
  font-size: 16px;
  line-height: 1.25;
  &:first-child {
    margin-bottom: 36px;
  }
}
.hero__main {
  margin-top: 110px;
  padding-left: 104px;
}
.hero__title {
  @extend %title;
  margin-bottom: 60px;
  max-width: 468px;
  font-size: 74px;
  line-height: 1;
}
.hero__button {
  @extend %button;
  min-width: 290px;
  min-height: 68px;
  color: $button-text-color;
  background-color: $accent-color;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}
