.promo {
  @extend %section;
  height: 694px;
  background-image: url(../images/promo/promo-bg.jpg);
  background-position: top 85px left 50%;
  background-repeat: no-repeat;
  background-size: 1440px 524px;
}
