.tech {
  @extend %section;
  padding-left: 110px;
  min-height: 756px;
  background-image: url(../images/tech/tech-img.jpg);
  background-position: top 85px right 0;
  background-repeat: no-repeat;
  background-size: 700px 586px;
}
.tech__content {
  width: 380px;
}
.tech__title {
  @extend %title;
  margin-bottom: 50px;
}
.tech__subtitle {
  @extend %subtitle;
  margin-bottom: 20px;
}
